pkgbase = python-crossbar
	pkgdesc = Crossbar.io - WAMP application router http://crossbar.io/
	pkgver = 17.9.2
	pkgrel = 1
	url = https://github.com/crossbario/crossbar
	arch = any
	license = AGPL
	depends = python>=3.1
	source = https://github.com/crossbario/crossbar/archive/v17.9.2.tar.gz
	sha1sums = e92f811ca0922409d0bd63d56e9974ecc1fed11d

pkgname = python-crossbar

