pkgbase = python-crossbar
	pkgdesc = Crossbar.io - WAMP application router http://crossbar.io/
	pkgver = 17.8.1
	pkgrel = 1
	url = https://github.com/crossbario/crossbar
	arch = any
	license = AGPL
	depends = python>=3.1
	source = https://github.com/crossbario/crossbar/archive/v17.8.1.tar.gz
	sha1sums = 38f8784f478a24b345b419682835a531b206ae2a

pkgname = python-crossbar

